[Unit]
Description=Apple Seeder Service for %i
Requires=apple-daemon@%i.service
After=apple-daemon@%i.service

[Service]
Type=simple
Environment=APPLE_ROOT=/home/%i/.apple/mainnet
ExecStart=/opt/apple/start_seeder
User=%i
Group=%i
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
